@using Web.Models
@using Web.Models.Users
@using Web.Services
@using Web.Services.Users
@inject IUserProviderService TokenProviderService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Report Hub</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
@if (roleList is null){

}
else{
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"><Icon Name="IconName.Home" class="me-2" />Dashboard</span>
                </NavLink>
            </div>

            @if (roleList.SystemRoles.Contains("SuperAdmin"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="clients">
                        <span aria-hidden="true"><Icon Name="IconName.Users" class="me-2" /></span> Clients
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span aria-hidden="true"><Icon Name="IconName.Users" class="me-2" /></span> Users
                    </NavLink>
                </div>
            }
            else if (roleList.ClientRoles.Contains("Owner"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="invoices">
                        <span aria-hidden="true"><Icon Name="IconName.File" class="me-3" />Invoices</span>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="items">
                        <span aria-hidden="true"><Icon Name="IconName.Book" class="me-3" />Items</span>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customers">
                        <span aria-hidden="true"><Icon Name="IconName.DollarSign" class="me-3" />Customers</span>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <span aria-hidden="true"><Icon Name="IconName.Clock" class="me-3" />Reports</span>
                    </NavLink>
                </div>
            }
        </nav>
    </div>
}


@code{
    private UserRoles roleList;

    protected override void OnInitialized()
    {
        roleList = TokenProviderService.GetRoles();
    }
}