<style>
    .callout {
        background-color: #f0f8ff; 
        border: 1px solid #add8e6; 
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }
</style>

@page "/email-confirmation"
<PageTitle>Email Confirmation</PageTitle>
<div class="callout">
    <strong>Please check your email!</strong>
</div>
@code { }